<launch>

  <!-- | Parameters for iiwa | -->
  <arg name="iiwa_model" default="iiwa7"/>

  <!-- | Parameters for ur | -->
  <arg name="ur_model" default="ur5"/>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />

  <arg name="use_rviz" default="true" doc="Choose whether or not to use rviz."/>
  <arg name="use_gui" default="true" doc="Choose whether or not to use gui."/>

  <include file="$(find iiwa_ur_description)/launch/iiwa_ur_upload.launch" >
    <arg name="iiwa_model" value="$(arg iiwa_model)" />
    <arg name="ur_model" value="$(arg ur_model)" />
    <arg name="limited" value="$(arg limited)" />
  </include>

  <!-- bring up robot description, joint and robot state publishers (also can start rviz) -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find iiwa_ur_description)/launch/iiwa_ur.rviz" required="true" />
</launch>