<?xml version="1.0"?>
<launch>

  <!-- Loads thee iiwa.world environment in Gazebo. -->

  <!-- These are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <arg name="use_pedestal" default="true" doc="If true, load the urdf with pedestal" />

  <!-- | Parameters for iiwa | -->
  <arg name="iiwa_model" default="iiwa7" />
  <arg name="iiwa_name" default="iiwa" />
  <arg name="hardware_interface" default="PositionJointInterface"/>

  <!-- | Parameters for ur | -->
  <arg name="ur_model" default="ur5" />
  <arg name="limited" default="false" />
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />

  <!-- Parameters for spawn -->
  <arg name="spawn_x_pos" default="0.0" />
  <arg name="spawn_y_pos" default="0.0" />
  <arg name="spawn_z_pos" default="0.1" />
  <arg name="spawn_roll" default="0.0" />
  <arg name="spawn_pitch" default="0.0" />    
  <arg name="spawn_yaw"   default="0.0" />

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find iiwa_ur_gazebo)/worlds/iiwa_ur.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- ``iiwa_name`` is fixed as ``iiwa`` to fixed [#269](https://github.com/IFL-CAMP/iiwa_stack/issues/269) -->
  <include file="$(find iiwa_ur_description)/launch/iiwa_ur_upload.launch">
    <arg name="iiwa_model" value="$(arg iiwa_model)" />
    <arg name="iiwa_name" value="iiwa" />
    <arg name="hardware_interface" value="$(arg hardware_interface)"/>
    <arg name="ur_model" value="$(arg ur_model)" />
    <arg name="limited" value="$(arg limited)" />
    <arg name="transmission_hw_interface" value="$(arg transmission_hw_interface)" />
    <arg name="use_pedestal" value="$(arg use_pedestal)"/>
  </include>

  <!-- Run a python script to send a service call to gazebo_ros to spawn a URDF robot -->
  <!-- FIXME: [spawn_model -J initial joint positions not working](https://github.com/ros-simulation/gazebo_ros_pkgs/issues/93) -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param robot_description -model iiwa_ur
        -x $(arg spawn_x_pos)
        -y $(arg spawn_y_pos)
        -z $(arg spawn_z_pos)
        -R $(arg spawn_roll)
        -P $(arg spawn_pitch)  
        -Y $(arg spawn_yaw) 
        -J iiwa_joint_1 0
        -J iiwa_joint_2 1
        -J iiwa_joint_3 0
        -J iiwa_joint_4 0
        -J iiwa_joint_5 0
        -J iiwa_joint_6 0
        -J iiwa_joint_7 0
        -J elbow_joint 0
        -J shoulder_lift_joint -1.5707
        -J shoulder_pan_joint 0
        -J wrist_1_joint -1.5707
        -J wrist_2_joint 0
        -J wrist_3_joint 0
        -unpause
        " />

</launch>